.avatar-mode-toggle {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.avatar-mode-toggle button {
    padding: 6px 12px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.avatar-mode-toggle button.active {
    background-color: #007bff;
    color: white;
}

.avatar-upload-container {
    border: 2px solid black;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .avatar-upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
