@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.main-sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  gap: 15px;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e8e8e8;
}

.main-sign-in-container h2 {
  color: dodgerblue;
}

.arrow-icon {
  margin-top: 1.5%;
}

@media screen and (min-width: 1440px) {
  .main-sign-in-container {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px;
  }
}
