@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  gap: 15px;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #e8e8e8;
}

.sign-up-form-container h2 {
  color: dodgerblue;
}

.add-person-icon {
  margin-top: 2%;
}

#form-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
