#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
    min-height: 25vh;
    max-height: 25vh;
    gap: 10px;
    background-color: #E8E8E8;
    border-radius: 10px;
    border: 2px solid black;
}
