@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
    min-height: 25vh;
    max-height: 25vh;
    gap: 10px;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: #E8E8E8;
    border-radius: 10px;
    border: 2px solid black;
}
