#nav-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75%;
  min-width: 95vw;
  max-width: 95vw;
  min-height: fit-content;
  max-height: fit-content;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border: 2px solid black;
  overflow: hidden;
  position: fixed;
  border-radius: 10px;
}

#menu-toggle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

@media screen and (max-width: 390px) {
  #nav-main-container {
    min-width: 90vw;
    max-width: 90vw;
    bottom: 0.75;
  }
}
